@import '../node_modules/muicss/lib/sass/mui/colors';

// Customize MUI variables
$primary-color: 'teal';
$accent-color: 'amber';

$mui-primary-color: mui-color($primary-color, '500');
$mui-primary-color-dark: mui-color($primary-color, '700');
$mui-primary-color-light: mui-color($primary-color, '100');
$mui-primary-accent-color-dark: mui-color($primary-color, 'A400');
$mui-primary-accent-color-light:  mui-color($primary-color, 'A100');

$mui-accent-color: mui-color($accent-color, 'A200');
$mui-accent-color-dark: mui-color($accent-color, 'A400');
$mui-accent-color-light:  mui-color($accent-color, 'A100');

@import '../node_modules/muicss/lib/sass/mui';

$sidebar-bg-color: $mui-primary-color;
$content-bg-color: mui-color('grey', '100');