@charset 'UTF-8';
@import '_fonts';
@import '_colors';

html, body {
	@extend .mui--text-body1;

	font-family: 'Roboto', sans-serif;
}

// Overall Layout Structure
$outer-padding-vertical: 60px;
$outer-padding-horizontal: 30px;
$section-margin: 25px;
$header-icon-px: 35px;
.body-container {
	@extend .mui-row;
	@extend.mui--z2;

	display: flex;
	align-items: stretch;
	margin-top: 20px;
	margin-bottom: 20px;
}
.introduction-container {
	@extend .mui-col-md-4;

	display: flex;
	flex-direction: column;
	padding: 0;
	color: $mui-text-light;

	.introduction-top,
	.introduction-bottom {
		padding-right: $outer-padding-horizontal;
		padding-left: $outer-padding-horizontal;
		width: 100%;
		background-color: $sidebar-bg-color;
	}
	.introduction-top {
		padding-top: $outer-padding-vertical;
	}
	.introduction-bottom {
		flex-grow: 1;
		padding-bottom: $outer-padding-vertical;
	}
}
.main-content-container {
	@extend .mui-col-md-8;

	padding: $outer-padding-vertical $outer-padding-horizontal;
	background-color: $content-bg-color;
}

// Shared Components Styling
.section {
	margin-bottom: $section-margin;

	.header {
		@extend .mui--text-headline;

		position: relative;
		margin-bottom: 5px;

		.label {
			position: relative;
			z-index: 1;
			display: inline-block;
			padding-right: 10px;
			text-transform: uppercase;
			line-height: $header-icon-px;
		}
		&:after {
			position: absolute;
			top: 50%;
			display: block;
			width: 100%;
			border-top: 1px solid $mui-text-dark;
			content: " ";
		}
	}
}
// Introduction Top Content Styling
.photo-container {
	$profile-pic-px: 150px;

	@extend .mui--z2;

	position: relative;
	overflow: hidden;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: $section-margin/2;
	margin-left: auto; 
	width: $profile-pic-px;
	height: $profile-pic-px;
	border-radius: 50%;

	img {
		display: inline;
		width: 100%;
	}
}
.name-container {
	margin-bottom: $section-margin;
	text-align: center;

	.name {
		@extend .mui--text-display1;

		text-transform: uppercase;

		.last-name {
			font-weight: bold;
		}
	}
	.occupation {
		margin: 5px 0;
		color: $mui-text-light-secondary;
		text-align: center;
		text-transform: uppercase;
	}
}
.contact-container {
	margin: 0 auto $section-margin;
	width: 58%;
	line-height: 28px;

	a:hover {
		text-decoration: none;
	}
	.header {
		display: none;
	}
	.socials {
		margin-bottom: $section-margin;
		text-align: center;

		.social {
			display: inline-block;
			margin: 0 10px;
			line-height: 28px;
		}
		a:hover .label {
			background-color: $mui-text-light-secondary;
		}
		.label {
			display: inline-block;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background-color: $content-bg-color;
			color: $mui-primary-color;

			.zmdi {
				font-size: 18px;
				line-height: 23pt;
			}
			span {
				display: none;
			}
		}
	}
	.contact {
		a:hover .label {
			color: $mui-text-light-secondary;
		}
		.label {
			color: $mui-text-light;

			.zmdi {
				margin-right: 25px;
			}
		}
	}
}
// Introduction Bottom Styling
.introduction-section {
	.header {
		.label {
			background-color: $sidebar-bg-color;
			color: $mui-text-light;
		}
		&:after {
			border-color: $mui-text-light;
		}
	}
	.subheader {
		margin-bottom: 10px;
		color: $mui-text-light-secondary;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
	.content {
		margin-right: 7px;
		margin-left: 7px;
	}
}
.skill-set-container {
	.skill-set {
		margin-bottom: 20px;
	}
	.skill {
		$progress-bar-height: 15px;

		margin-bottom: 2px;

		.name {
			text-transform: capitalize;
		}
		.progress {
			width: 100%;
			height: $progress-bar-height;
			background-color: $mui-primary-accent-color-light;

			.progress-bar {
				height: 100%;
				background-color: $mui-primary-accent-color-dark;
			}
		}
	}
}
// Main Content Styling
.main-content-section {
	.header {
		margin-bottom: 10px;

		.label {
			background-color: $content-bg-color;
			color: $mui-primary-color;
		}
		.icon-container {
			display: inline-block;
			width: $header-icon-px;
			height: $header-icon-px;
			border-radius: 50%;
			background-color: $sidebar-bg-color;
			color: $mui-text-light;
			text-align: center;

			.zmdi {
				line-height: 25pt;
			}
		}
		&:after {
			border-color: $mui-primary-color;
		}
	}
	.content {
		margin-left: 15px;
	}
}
.project-section {
	.primary-data,
	.stack {
		display: inline-block;
	}
	.stack {
		margin-left: 20px;
	}
	.roles {
		margin-bottom: 15px;
		font-style: italic;
	}
}
.profile-row {
	line-height: 28px;

	&:not(:first-child) {
		border-top: 1px solid black;
	}
	&:before, &:after {
		display: table;
		clear: both;
		content: ' ';
	}
	.name {
		display: block;
		float: left;
		width: 18%;
		font-weight: bold;
	}
	.element {
		display: block;
		float: left;
		width: 82%;
	}
}
.experience {
	.primary-data {
		@extend .mui--text-headline;

		display: inline-block;
		font-weight: bold;
	}
	.secondary-data {
		font-style: italic;

		.highlight {
			@extend .mui--text-subhead;

			margin-right: 20px;
			color: $mui-primary-color;
			font-weight: bold;
			font-style: normal;
		}
	}
	.time-frame {
		float: right;
		line-height: 40px;
	}
	.description {
		margin: 10px 0 15px;
	}
}