@charset 'UTF-8';
@import '_fonts';
@import '_colors';


@media print {
	$print-section-margin: 15pt;
	$print-side-padding: 40pt;

	/* General Layout */
	html, body {
		background-color: $content-bg-color;
		font-size: 10pt;
		line-height: 12pt;
	}
	.mui-container {
		max-width: none;
		width: 100%;
	}
	.body-container {
		flex-direction: column;
		margin-top: 0;
		margin-bottom: 0;
		box-shadow: none;
	}
	.introduction-container {
		display: block;
		width: 100%;

		.introduction-top {
			display: flex;
			justify-content: flex-end;
			padding-top: 20pt;
			padding-right: $print-side-padding;
			padding-left: $print-side-padding;
			text-align: center;

			&:before, &:after {
				display: table;
				clear: both;
				content: ' ';
			}
		}
		.introduction-bottom {
			padding-right: $print-side-padding;
			padding-bottom: 20pt;
			padding-left: $print-side-padding;
			background-color: $content-bg-color;
		}
	}
	.main-content {
		padding: 20pt 20pt 30pt 15pt;
		width: 67%;
	}
	/* Side Content */
	.photo-container {
		position: relative;
		z-index: 1;
		order: 2;
		margin-right: 0;        
		margin-bottom: $print-section-margin;
		margin-left: 0;
		border: 2pt solid $mui-text-light;
		box-shadow: none;
	}
	.name-container {
		position: relative;
		order: 1;
		margin-top: 50pt;
		margin-right: 20pt;
		margin-bottom: $print-section-margin;
		text-align: left;

		.name {
			font-size: 28pt;
			line-height: 28pt;

			.first-name {
			}
			.last-name {
				font-weight: normal;
			}
			&:after {
				position: absolute;
				bottom: 34pt;
				left: -5px;
				width: 280pt;
				border-bottom: 1pt solid $mui-text-light-secondary;
				content: '';
			}
		}
		.occupation {
			margin: 3pt 0 0 0;
			color: $mui-text-light;
			font-size: 8pt;
		}
	}
	.contact-container {
		position: relative;
		order: 3;
		margin-bottom: $print-section-margin;
		margin-left: 20pt;
		text-align: left;
		font-size: 10pt;
		line-height: 15pt;

		.header {
			position: static;
			display: inline-block;
			text-transform: uppercase;
			font-size: 10pt;

			&:after {
				position: absolute;
				top: 21pt;
				right: -5pt;
				width: 180pt;
				border-top: none;
				border-bottom: 1pt solid $mui-text-light-secondary;
				content: '';
			}
		}
		.label {
			display: none;
		}
	}
	.introduction-section {
		display: block;
		margin-top: $print-section-margin * 2;
		margin-bottom: $print-section-margin / 2;
		color: $mui-text-dark;

		&.overview {
			float: left;
			width: 46%;
		}
		&.skills {
			float: right;
			width: 54%;
		}
		.header {
			.label {
				margin-bottom: 10pt;
				background-color: transparent;
				color: $mui-primary-color;
			}
			&:after {
				border: none;
			}
		}
		.content {
			margin-right: 0;
			margin-left: 0;
		}
	}
	.skillset-container {
		float: right;
		width: 47.5%;

		&:last-child {
			margin-right: 5%;
		}
		.subheader {
			display: none;
		}
	}
	.skill-set {
		$print-progress-bar-height: 15pt;

		.name {
			margin-bottom: -13pt;
			margin-left: 5pt;
			color: $mui-text-light;
			font-size: 9pt;
		}
		.progress {
			height: $print-progress-bar-height;
		}
	}
	.main-info-section {
		margin-bottom: $print-section-margin / 2;
	}
	.section-container {
		margin-top: $print-section-margin / 4;
	}
	.section {
		padding: 3pt;

		&:last-child {
			padding-bottom: 3pt;
		}
	}
	.technical-profile-section {
		.name {
			width: 24%;
		}
		.element {
			width: 76%;
			line-height: 14pt;
		}
	}
	.experience-section {
		.position, .time {
			display: inline-block;
		}
		.position {
			font-size: 11pt;
			line-height: 16pt;
		}
		.time {
			line-height: 16pt;
		}
		.location {
			display: block;
		}
	}
	.education-section {
		.name {
			font-size: 11pt;
			line-height: 16pt;
		}
		.time {
			line-height: 16pt;
		}
	}
	.header {
		$print-header-icon-px: 18pt;

		margin-bottom: 0;
		font-size: 15pt;

		.icon {
			width: $print-header-icon-px;
			height: $print-header-icon-px;

			.zmdi {
				font-size: 12pt;
			}
		}
		.label {
			line-height: $print-header-icon-px;
		}
	}
	.subheader {
		color: $mui-text-dark;
		letter-spacing: 1pt;
		font-size: 9pt;
	}
}