@charset 'UTF-8';
@import '_fonts';
@import '_colors';

html, body {
	@extend .mui--text-body1;

	font-family: 'Roboto', sans-serif;
}

/* General Layout */
$outer-padding-vertical: 60px;
$outer-padding-horizontal: 25px;
$section-margin: 40px;
.content-container {
	@extend.mui--z2;

	display: flex;
	align-items: stretch;
	margin-top: 20px;
	margin-bottom: 20px;
}
.side-content {
	@extend .mui-col-md-4;

	display: flex;
	flex-direction: column;
	padding: 0;
	color: $mui-text-light;

	.side-content-top,
	.side-content-bottom {
		padding-right: $outer-padding-horizontal;
		padding-left: $outer-padding-horizontal;
		width: 100%;
		background-color: $sidebar-bg-color;
	}
	.side-content-top {
		padding-top: $outer-padding-vertical;
	}
	.side-content-bottom {
		flex-grow: 1;
		padding-bottom: $outer-padding-vertical;
	}
}
.main-content {
	@extend .mui-col-md-8;

	padding: $outer-padding-vertical $outer-padding-horizontal;
	background-color: $content-bg-color;
}

/* Side Content */
.profile-photo-container {
	$profile-pic-px: 150px;

	@extend .mui--z2;

	position: relative;
	overflow: hidden;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: $section-margin/2;
	margin-left: auto; 
	width: $profile-pic-px;
	height: $profile-pic-px;
	border-radius: 50%;

	img {
		display: inline;
		width: 100%;
	}
}
.general-container {
	margin-bottom: $section-margin;
	text-align: center;

	.name {
		@extend .mui--text-display1;

		text-transform: uppercase;

		.last-name {
			font-weight: bold;
		}
	}
	.occupation {
		margin: 5px 0;
		color: $mui-text-light-secondary;
		text-align: center;
		text-transform: uppercase;
	}
}
.contact-container {
	margin: 0 20px $section-margin;
	line-height: 28px;

	.header {
		display: none;
	}
	.label {
		margin-right: 25px;
		font-weight: bold;
	}
}
.side-info-section {
	margin-bottom: $section-margin / 2;

	.header {
		.label {
			background-color: $mui-primary-color;
			color: $mui-text-light;
		}
		&:after {
			border-color: $mui-text-light;
		}
	}
	.content {
		margin-right: 7px;
		margin-left: 7px;
	}
}
.skill-sets-container {
	margin-bottom: 20px;
}
.skill-set {
	$progress-bar-height: 15px;

	margin-bottom: 5px;

	.name {
		text-transform: capitalize;
	}
	.progress {
		width: 100%;
		height: $progress-bar-height;
		background-color: $mui-primary-accent-color-light;

		.progress-bar {
			height: 100%;
			background-color: $mui-primary-accent-color-dark;
		}
	}
}
.main-info-section {
	margin-bottom: $section-margin;
	width: 100%;
}
.section-container {
	margin-top: $section-margin / 3;
}
.section {
	margin: 0 auto;
	padding: 3px 0;
	width: 96%;

	&:last-child {
		padding-bottom: 0px;
	}
	.primary-data {
		@extend .mui--text-headline;

		display: inline-block;
		font-weight: bold;
	}
	.secondary-data {
		font-style: italic;

		.highlight {
			@extend .mui--text-subhead;

			margin-right: 20px;
			color: $mui-primary-color;
			font-weight: bold;
			font-style: normal;
		}
	}
	.time-frame {
		float: right;
		line-height: 40px;
	}
	.description {
		margin: 10px 0 15px;
	}
}
.technical-profile-section {
	.name {
		display: block;
		float: left;
		width: 18%;
		font-weight: bold;
	}
	.element {
		display: block;
		float: left;
		width: 82%;
	}
	&:not(:first-child) {
		border-top: 1px solid black;
	}
}
.project-section {
	.stack {
		margin-top: 10px;
	}
}

/* Shared Components */
.header {
	$header-icon-px: 35px;

	@extend .mui--text-headline;

	position: relative;
	margin-bottom: 5px;

	.icon {
		display: inline-block;
		width: $header-icon-px;
		height: $header-icon-px;
		border-radius: 50%;
		background-color: $sidebar-bg-color;
		color: $mui-text-light;
		text-align: center;
	}
	.label {
		position: relative;
		z-index: 1;
		display: inline-block;
		padding-right: 10px;
		background-color: $content-bg-color;
		color: $sidebar-bg-color;
		text-transform: uppercase;
		line-height: $header-icon-px;
	}
	&:after {
		position: absolute;
		top: 50%;
		display: block;
		width: 100%;
		border-top: 1px solid $sidebar-bg-color;
		content: " ";
	}
}
.subheader {
	@extend .mui--text-subheader;

	margin-bottom: 10px;
	color: $mui-text-light-secondary;
	text-transform: uppercase;
	letter-spacing: 2px;
}