@charset 'UTF-8';
@import '_fonts';
@import '_colors';

html, body {
	@extend .mui--text-body1;

	font-family: 'Roboto', sans-serif;
}

/* General Layout */
$outer-padding-vertical: 70px;
$outer-padding-horizontal: 25px;
$section-margin: 30px;
.content-container {
	@extend.mui--z2;

	display: flex;
	align-items: stretch;
}
.side-content {
	@extend .mui-col-md-4;

	padding: $outer-padding-vertical $outer-padding-horizontal;
	background-color: $sidebar-bg-color;
}
.main-content {
	@extend .mui-col-md-8;

	padding: $outer-padding-vertical $outer-padding-horizontal;
	background-color: $content-bg-color;
}

/* Side Content */
.profile-photo-container {
	$profile-pic-px: 150px;

	@extend .mui--z2;

	position: relative;
	overflow: hidden;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: $section-margin;
	margin-left: auto; 
	width: $profile-pic-px;
	height: $profile-pic-px;
	border-radius: 50%;

	img {
		display: inline;
		width: 100%;
	}
}
.general-container {
	margin-bottom: $section-margin;
	text-align: center;

	.name {
		@extend .mui--text-display1;

		text-transform: uppercase;

		.last-name {
			font-weight: bold;
		}
	}
	.occupation {
		@extend .mui--text-light;

		margin: 5px 0;
		text-align: center;
		text-transform: uppercase;
	}
}
.contact-container {
	margin: 0 20px;
	margin-top: 0;
	margin-right: 20px;
	margin-bottom: $section-margin;
	margin-left: 20px;
	line-height: 28px;

	.label {
		margin-right: 25px;
		font-weight: bold;
	}
}
.side-info-section {
	margin-bottom: $section-margin / 2;

	.header .label {
		background-color: $mui-primary-color;
	}
}
.skill-sets-container {
	margin-bottom: 20px;
}
.skill-set {
	$progress-bar-height: 15px;

	margin-bottom: 5px;

	.name {

	}
	.progress {
		width: 100%;
		height: $progress-bar-height;
		background-color: $mui-accent-color-light;

		.progress-bar {
			height: 100%;
			background-color: $mui-accent-color-dark;
		}
	}
}
.technical-profiles-container {
	margin-top: $section-margin / 2;
}
.technical-profile {
	margin: 0 auto;
	padding: 3px 0;
	width: 96%;

	.name {
		display: inline-block;
		width: 17.5%;
		font-weight: bold;
	}
	.element {
		display: inline-block;
		width: 82%;
	}
	&:not(:first-child) {
		border-top: 1px solid black;
	}
}

/* Shared Components */
.header {
	@extend .mui--text-headline;

	position: relative;
	margin-bottom: 3px;

	.label {
		position: relative;
		z-index: 1;
		display: inline-block;
		padding-right: 10px;
		background-color: $content-bg-color;
		text-transform: uppercase;
	}
	&:after {
		position: absolute;
		top: 50%;
		display: block;
		width: 100%;
		border-top: 1px solid $mui-text-dark;
		content: " ";
	}
}
.subheader {
	@extend .mui--text-subheader;
	@extend .mui--text-light;

	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: bold;
}